# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.whl
*.venv
*.vscode
.mypy_cache/
src/circlepacker.egg-info/PKG-INFO
src/circlepacker.egg-info/SOURCES.txt
*.egg-info
src/circlepacker.egg-info/PKG-INFO
src/circlepacker.egg-info/requires.txt
src/circlepacker.egg-info/SOURCES.txt
